body {
  padding: 0px 80px 0px 80px;
  background-image: url(../images/background_wall.jpg);
}
#content {
  border: 1px solid;
  background-color: white;
}
#content p{
  margin: 10px;
}
#header {
  text-align:center;
  background-color: white;
}
#nav {
  line-height:30px;
  background-color:#eeeeee;
  height:300px;
  width:100px;
  float:left;
  padding:5px; 
}
#footer {
  color:white;
  background: url(../images/menu-bg.png) repeat;
}
#copyright {
  text-align: center;
  float: left;
  padding: 10px 10px 10px 10px;
  text-align: center;
  vertical-align: middle;
}
#social-icons {
  text-align: right;
  padding: 10px 10px 10px 10px;
}
#form {
  margin: 10px;
}
#form input {
  border-radius: 1px;
}
#form textarea {
  border-radius: 1px;
}
#texugo_img {
  float: right;
  margin-right: 100px;
}
#image_honey_badger {
  float: right;
  margin-right: 100px;
}

#youtube_video {
  text-align: center;
}